.navbarContainer {
  height: 50px;
  width: 100%;
  background-color: var(--color-viridian);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.navbarTitle {
  font-size: 24px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

.profileBtn {
  background-color: var(--color-wenge);
  color: white;
  border-radius: 50px;
  align-items: right;
  width: 75px;
  float: right;
  
}

.navbarLeft {
  flex: 4;
}

.navbarCenter {
  flex: 5;
}

.navbarRight {
  flex: 4;
  padding-right: 20px;
}