.navbarContainer {
  height: 50px;
  width: 100%;
  background-color: var(--color-viridian);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbarTitle {
  font-size: 24px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

.profileBtn {
  background-color: white;
  color: black;
  border-radius: 50px;
  align-items: right;
  width: 75px;
  float: right;
  border-color: white;
}

.searchDropdown {
  background-color: lightblue;
  height: 100vh;
  width: 100%;
  z-index: 2;
  position: absolute;
  text-align: center;
}

.searchInput {
  margin: 10px;
  width: 90%;
  padding-left: 10px;
  border-radius: 25px;
}

.navbarLeft {
  flex: 4;
  padding-left: 20px;
}

.navbarCenter {
  flex: 5;
  align-items: center;
}

.navbarRight {
  flex: 4;
  padding-right: 20px;
}