.rightbarContainer {
  float: right;
  padding-right: 1%;
  background-color: var(--color-beige);
  height: 100vh;
  padding-left: 1%;
  text-align: center;
  width: 25%;
}

.rightbarTop {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rightbarMid {
  border-radius: 20px;
  width: 100%;
  height: 100px;
  justify-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: x-small;
}

.rightbarBottom {
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  margin-top: 20px;
}