.rightbarContainer {
  float: right;
  padding-right: 5%;
  background-color: var(--color-beige);
  height: 100%;
  padding-left: 5%;
  text-align: center;
}

.rightbarMid {
  background-color: antiquewhite;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}