.pageContainer {
  background-color: black;
  height: 100vh;
  position: relative;
  text-align: center;
}

.title {
  color: white;
  text-align: center;
  padding-top: 20vh;
  font-size: 10vh;
}

.description {
  color: white;
  text-align: center;
  font-size: 5vh;
}

.spotifyButton {
  background-color: #1DB954;
  color: white;
  border-radius: 50px;
  text-align: center;
  width: 250px;
  height: 25px;
  margin-top: 10px;
}

.spotifyIcon {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}